Answer 1 :- String Slicing :- String slicing helps to find the specific elements of a string by mentioning specific start index and end index.

In the string slicing index also count the space in the sentences.

The String Slicing example mention below :-

In [ ]:
# Example :-

str1 = "Hey, I am Sunita and currently I am doing a data analytics course"
str1

'Hey, I am Sunita and currently I am doing a data analytics course'

In [ ]:
str1[0:16]

'Hey, I am Sunita'

In [ ]:
str1[17:]

'and currently I am doing a data analytics course'

Answer 2 :- The key features of the list in python are:-

- List is ordered collection of items/elements.
- List is indicated from Square Bracket [ ].
- List can store various data type (Integer, Float, Boolean, Strings, Complex value).
- List is a mutable object, It means the elements/value stored in list can be changed.
-In list you can add, or remove, or modify element using indexing and slicing method.
- List are versatile for storing and managing collections that might change.

Answer 3 :- Below are the example for access, Modify, and delete elements in the List :-

In [ ]:
# Example for access the list elements :-

shopping_list = ["Apple", "Orange", "Milk", "pen", 123, 23.56, "copy", 3+8j, True, False]
shopping_list

['Apple', 'Orange', 'Milk', 'pen', 123, 23.56, 'copy', (3+8j), True, False]

In [ ]:
shopping_list[2]

'Milk'

In [ ]:
shopping_list[-3]

(3+8j)

In [ ]:
shopping_list[6]

'copy'

In [ ]:
# Example for 'Modify' the list elements :-

shopping_list = ["Apple", "Orange", "Milk", "pen", 123, 23.56, "copy", 3+8j, True, False]
shopping_list

['Apple', 'Orange', 'Milk', 'pen', 123, 23.56, 'copy', (3+8j), True, False]

In [ ]:
shopping_list.append("Data analytics")
shopping_list

['Apple',
 'Orange',
 'Milk',
 'pen',
 123,
 23.56,
 'copy',
 (3+8j),
 True,
 False,
 'Data analytics']

In [ ]:
shopping_list.insert(-5, "Banana")
shopping_list

['Apple',
 'Orange',
 'Milk',
 'pen',
 123,
 23.56,
 'Banana',
 'copy',
 (3+8j),
 True,
 False,
 'Data analytics']

In [ ]:
shopping_list = ["Apple", "Orange", "Milk", "pen", 123, 23.56, "copy", 3+8j, True, False]
shopping_list_2 = ["Masala Oats"]
shopping_list_2.extend(shopping_list)

In [ ]:
shopping_list_2

['Masala Oats',
 'Apple',
 'Orange',
 'Milk',
 'pen',
 123,
 23.56,
 'copy',
 (3+8j),
 True,
 False]

In [ ]:
new_list = shopping_list_2
new_list

['Masala Oats',
 'Apple',
 'Orange',
 'Milk',
 'pen',
 123,
 23.56,
 'copy',
 (3+8j),
 True,
 False]

In [ ]:
new_list[2] = "Cold drinks"
new_list

['Masala Oats',
 'Apple',
 'Cold drinks',
 'Milk',
 'pen',
 123,
 23.56,
 'copy',
 (3+8j),
 True,
 False]

In [ ]:
shopping_list_2

['Masala Oats',
 'Apple',
 'Cold drinks',
 'Milk',
 'pen',
 123,
 23.56,
 'copy',
 (3+8j),
 True,
 False]

In [ ]:
b = shopping_list.copy()

In [ ]:
b

['Apple', 'Orange', 'Milk', 'pen', 123, 23.56, 'copy', (3+8j), True, False]

In [ ]:
shopping_list

['Apple', 'Orange', 'Milk', 'pen', 123, 23.56, 'copy', (3+8j), True, False]

In [ ]:
b[4] = "Marker Pen"
b

['Apple',
 'Orange',
 'Milk',
 'pen',
 'Marker Pen',
 23.56,
 'copy',
 (3+8j),
 True,
 False]

In [ ]:
shopping_list = ["Apple", "Orange", "Milk", "pen", "Cold drink", "Oil"]
shopping_list

['Apple', 'Orange', 'Milk', 'pen', 'Cold drink', 'Oil']

In [ ]:
sorted(shopping_list)

['Apple', 'Cold drink', 'Milk', 'Oil', 'Orange', 'pen']

In [ ]:
shopping_list.index("Milk")

2

In [ ]:
shopping_list.remove("pen")

In [ ]:
shopping_list

['Apple', 'Orange', 'Milk', 'Cold drink', 'Oil']

In [ ]:
shopping_list.pop()

'Oil'

In [ ]:
shopping_list

['Apple', 'Orange', 'Milk', 'Cold drink']

In [ ]:
shopping_list.clear()

In [ ]:
shopping_list

[]

In [ ]:
del shopping_list

In [ ]:
shopping_list

NameError: name 'shopping_list' is not defined

Answer 4 :- Comparison between Tuples and list are :-

***Tuples***:-
- Tuples Once defined/created data elements cannot change or manipulate.

- Tuples is indicated from parentheses ( ).

- Tuples is immutable object, It means you can't change the value.

***Lists***:-
- List is ordered collection of items/elements.

- List is indicated from Square Bracket [ ].

- Lists is mutable object, It means you can change the value.

In [ ]:
# Example of Tuples :-

tuples = ("pwskills", "sunita", 123, 12.4, "Ajay", 4+7j, True, False)
tuples

('pwskills', 'sunita', 123, 12.4, 'Ajay', (4+7j), True, False)

In [ ]:
tuples[4]

'Ajay'

In [ ]:
tuples[4] = "Data analytics"

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Example of List :-

list = ["pwskills", "sunita", 123, 12.4, "Ajay", 4+7j, True, False]
list

['pwskills', 'sunita', 123, 12.4, 'Ajay', (4+7j), True, False]

In [ ]:
list[3]

12.4

In [ ]:
list[3] = "Data analytics"
list

['pwskills', 'sunita', 123, 'Data analytics', 'Ajay', (4+7j), True, False]

Answer 5 :- The key features of Sets are :-

- Sets are unordered collection of unique element.
- Sets is represent as { } curly brackets.
- Sets help to exclude the duplicate value/elements in the data.
- Set doesn't execute in sequential order.
- Sets elements can add and remove.
- Sets can store various data type (Integer, Float, Boolean, Strings, Complex value).

#### There are also 4 types of Operations in Set:-
1) Union Set Operation. :- This will include all the elements from both two different sets.

2) Intersection Set Operation. :- This will only include all the common elements from both two different sets.

3) Difference Set Operation. :- This will show all the elements from set both the sets which are not common.

4) Symmetric Set Operation. :- This will show all the elements except common and that are either in the first or second set but not in both.

In [ ]:
# Example :-

sets = {"sunita", 1, 2, 3.87, True, 1, 1,"Ajay", 1, 2, 2, "Ajay", False}
sets

{1, 2, 3.87, 'Ajay', False, 'sunita'}

In [ ]:
sets[4]

TypeError: 'set' object is not subscriptable

In [ ]:
sets.add("data analytics")
sets

{1, 2, 3.87, 'Ajay', False, 'data analytics', 'sunita'}

In [ ]:
sets.pop()

False

In [ ]:
sets

{1, 2, 3.87, 'Ajay', 'data analytics', 'sunita'}

In [ ]:
sets.remove("Ajay")
sets

{1, 2, 3.87, 'data analytics', 'sunita'}

In [ ]:
for i in (sets):
  print(i)

1
2
3.87
sunita
data analytics

In [ ]:
sets.discard("Orange")

In [ ]:
sets.update({"pwskills", 23})
sets

{1, 2, 23, 3.87, 'data analytics', 'pwskills', 'sunita'}

In [ ]:
sets.clear()
sets

set()

In [ ]:
del(sets)

In [ ]:
sets

NameError: name 'sets' is not defined

In [ ]:
sets1 = {"sunita", 3.87, True,"Ajay", 5, 6, 7, "Ajay", False}
sets2 = {"sunita", 1, 2, True, "Ajay", 8, 9, "Ajay", False}

In [ ]:
sets1

{3.87, 5, 6, 7, 'Ajay', False, True, 'sunita'}

In [ ]:
sets2

{1, 2, 8, 9, 'Ajay', False, 'sunita'}

In [ ]:
sets1 | sets2

{2, 3.87, 5, 6, 7, 8, 9, 'Ajay', False, True, 'sunita'}

In [ ]:
sets1 & sets2

{1, 'Ajay', False, 'sunita'}

In [ ]:
sets1 - sets2

{3.87, 5, 6, 7}

In [ ]:
sets1 ^ sets2

{2, 3.87, 5, 6, 7, 8, 9}

In [ ]:
sets1 = frozenset(["sunita", 3.87, True,"Ajay", 5, 6, 5, 5, 7, "Ajay", False])
sets1

frozenset({3.87, 5, 6, 7, 'Ajay', False, True, 'sunita'})

In [ ]:
sets1.add("pwskills")

AttributeError: 'frozenset' object has no attribute 'add'

Answer 6 :- Use Cases of Tuples and set are mentioned below :-

- Tuples :- Tuples is immutable, So there are few example of tuple which are based on real life that after creating it you can't change or modify it. For example:- Aadhaar Card, Employee I'd, PAN card, Driving license and so on.

- Sets :- Sets is unique collection because it don't allow/print the duplicate or repeatation value/element in the data. There are few example of sets which are based on real life data in any company holds a repetitive values or store in list form.

In [ ]:
# Use Cases of Tuples :-

employee_id = ("Emp001", "Emp002", "Emp003", "Emp004", "Emp005")
employee_id

('Emp001', 'Emp002', 'Emp003', 'Emp004', 'Emp005')

In [ ]:
employee_id[2] = "Emp006"

TypeError: 'tuple' object does not support item assignment

In [ ]:
employee_id.add("Emp006")

AttributeError: 'tuple' object has no attribute 'add'

In [ ]:
# Use Cases of Sets :-

data = [1, 2, 3, "pwskills", "Brinjal", "Brinjal", "sunita", True,1, 1, 2, True, True]
data

[1,
 2,
 3,
 'pwskills',
 'Brinjal',
 'Brinjal',
 'sunita',
 True,
 1,
 1,
 2,
 True,
 True]

In [ ]:
type(data)

list

In [ ]:
new_data = set(data)

In [ ]:
new_data

{1, 2, 3, 'Brinjal', 'pwskills', 'sunita'}

In [ ]:
type(new_data)

set

Answer 7 :- Below mentions are examples to add, modify and delete items in Dictionary :-

In [ ]:
my_dict = {"Name":"Ajay", "Age":29, "Designation":"Data Analyst", "Email":"sunita12@gmail.com", "Contact no.":2746538902}
my_dict

{'Name': 'Ajay',
 'Age': 29,
 'Designation': 'Data Analyst',
 'Email': 'sunita12@gmail.com',
 'Contact no.': 2746538902}

In [ ]:
my_dict = {"Name":"Ajay", "Age":29, "Designation":"Data Analyst", "Email":"sunita12@gmail.com", "Contact no.":2746538902, "Name": "Sunita"}
my_dict

{'Name': 'Sunita',
 'Age': 29,
 'Designation': 'Data Analyst',
 'Email': 'sunita12@gmail.com',
 'Contact no.': 2746538902}

In [ ]:
my_dict["City"] = "Varanasi"

In [ ]:
my_dict

{'Name': 'Sunita',
 'Age': 29,
 'Designation': 'Data Analyst',
 'Email': 'sunita12@gmail.com',
 'Contact no.': 2746538902,
 'City': 'Varanasi'}

In [ ]:
d1 = {"Company": "XYZ ltd."}
d1

{'Company': 'XYZ ltd.'}

In [ ]:
my_dict.update(d1)

In [ ]:
my_dict

{'Name': 'Sunita',
 'Age': 29,
 'Designation': 'Data Analyst',
 'Email': 'sunita12@gmail.com',
 'Contact no.': 2746538902,
 'City': 'Varanasi',
 'Company': 'XYZ ltd.'}

In [ ]:
del my_dict

In [ ]:
my_dict

NameError: name 'my_dict' is not defined

Answer 8 :- dictionary keys must be immutable, because to access, modify and delete the values or change the values on the basis of key in data. If the key were a mutable object, its value could change, and thus its hash could also change.

This is also implimented in real life data and important for companies, restaurant and etc for keeping their company employees data.

### Rules of defining Keys :-

#### Elements you can use as "key" in data as they are immutable:-

- You can have Integer numbers (1, 2, 3,....) and Float numbers (2.34, 3.45, 4.6, .....) as "Key".

- Boolean (True, False) is also act as a "key".

- Tuples {(1,2,3): 456} is also act as "key".

##### Elements you cannot use as "key" in data:-

- Special Characters (#, @, $,......) cannot act as "Key". It will through an error.

- List {[1,2,3]: 456} cannot act as "Key". It will through an error.

- Set {{1, 2, 3}:"pwskills} cannot act as "Key".

- 'Dictionary' itself {{123:"abc"} : "xyz} cannot act as "Key".

In [ ]:
d1 = {1:"sunita"}
d1

{1: 'sunita'}

In [ ]:
d2 = {23.5:"pwskills"}
d2

{23.5: 'pwskills'}

In [ ]:
d3 = {True:"Data analytics"}
d3

{True: 'Data analytics'}

In [ ]:
d4 = {(1, 2, 3): 456}
d4

{(1, 2, 3): 456}

In [ ]:
d5 = {(1, 2, 3): "sunita"}
d5

{(1, 2, 3): 'sunita'}

In [ ]:
d6 = {#:"Home work"}
d6

SyntaxError: incomplete input (<ipython-input-100-0c5759c4d84b>, line 2)

In [ ]:
d7 = {[1,2,3]:"shyam"}
d7

TypeError: unhashable type: 'list'

In [ ]:
d8 = {{1, 2, 3}:"sunita"}
d8

TypeError: unhashable type: 'set'

In [ ]:
d9 = {{123:"abc"} : "xyz"}
d9

TypeError: unhashable type: 'dict'